@import 'variables';

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 360px;
  height: 30px;
  padding: 0px 10px;
  font-weight: 300;
  font-size: 15px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  box-sizing: border-box;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 30px;
  width: 388px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  font-size: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px solid #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 13px;
  color: $primary-dark;
  width: 100%;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    height: 30px;
    width: 30px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    svg {
      height: 25px;
      padding: 0 2.5px;
      fill: #964b00;
    }
    svg:hover {
      fill: rgb(106, 54, 2);
    }
  }
}

