@import 'variables';

.coffee-form-container {
  background-color: $background-light;
  width: 90%;
  min-height: 100%;
  margin: auto;
}

.coffee-form {
  margin: auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  h1 {
    padding-top: 18px;
    font-size: 20px;
  }
  label {
    margin-top: 5px;
  }
  input,
  select {
    border: none;
    border-bottom: 1px solid $background-dark;
  }
  input,
  select,
  button {
    margin-top: 10px;
    margin-bottom: 3px;
    height: 26px;
    background-color: $background-light;
  }
  button {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: $primary;
    font-weight: 600;
    height: 30px;
    &:hover {
      cursor: pointer;
    }
  }
}
