@import 'variables';

.coffee-form-container {
  background-color: $background-light;
  width: 90%;
  min-height: 100%;
  margin: auto;
}

.coffee-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  label, input, button {
    font-size: 16px;
    margin-top: 5px;
  }
  input,
  select,
  button {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 46px;
    background-color: darken(#ffffff, 10%);
    border-radius: 3px;
  }
  button {
    margin-top: 5px;
    background-color: darken(#ffffff, 20%);
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }
}
