.panel-coffee {
  font-size: 14px;
}

.panel-processing {
  svg {
    fill: brown;
  }
}

.panel-origin {
  svg {
    fill: green;
  }
}

.panel-flavors {
  svg {
    fill: #805000;
  }
}

.panel-processing,
.panel-origin,
.panel-flavors {
  display: flex;
  align-items: center;
  line-height: 1;
  svg {
    height: 20px;
    width: 20px;
  }
}

.panel-detail {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.shops-index-div {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shops-index-item {
  margin: 15px 0;
  padding: 10px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  transition: ease-out 0.5s;
  a {
    color: black;
    text-decoration: none;
  }
  h4 {
    margin: 5px 0;
  }
  span {
    margin: 2px 0;
    display: inline-block;
  }
}

.shops-index-item:hover {
  background: rgb(242, 242, 242);
  border-radius: 4px;
  top: -5px;
}

.shop-panel-image {
  height: 200px;
  width: 550px;
  object-fit: cover;
  border-radius: 5px;
}
