@import 'variables';

.coffee-shop-container {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.coffee-shop {
  display: flex;
  flex-direction: column;
  height:60%
}

.coffee-shop > img {
  margin: 0 auto;
  width: 75%;
  height: 35%;
  border-radius: 10px;
  box-shadow: 1px 2px 5px gray;
  position: relative;

}

.coffee-shop-info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px
}

.coffee-shop-main-info {
  margin-left: 20px
}

.coffee-shop-main-info h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.coffee-shop-main-info h3 {
  font-size: 16px;
  line-height: 1.5;
}

.favorite-icon {
  position: absolute;
  z-index: 10;
  right: 30%;
  top: 13%;
  margin-right: 60px;
  cursor: pointer;
}

.coffee-shop-description {
  margin: 0 auto;
  width: 80%;
  padding-left:40px;
  margin-top:20px;
  margin-bottom: 20px;;
}

.coffee-shop-description h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.coffee-shop-description p {
  font-size: 16px;
  padding-bottom: 20px;
  line-height: 1.5;
}

.coffee-shop-details {
  width: 80%;
  margin:0 auto;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.coffee-shop-details h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.coffee-shop-details li {
  margin-left: 40px;
  font-size: 16px;
  list-style-image: url("https://we-camp-seeds.s3.us-east-2.amazonaws.com/coffee-shop.png");
}

.coffee-section-container {
  width: 80%;
  height: 750px;
  margin-left:95px;
  background: $primary-light;
  padding:20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.shop-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right:50px
}

.shop-edit a {
  text-decoration: none;

}







