.panel-coffee-subtitle {
  font-weight: 600;
  font-size: 13px;
  color: #515151;
  margin-bottom: 10px;
}

.panel-coffee {
  font-size: 14px;
  margin-top: 15px;
}

.panel-processing {
  svg {
    fill: brown;
    margin-right: 5px;
  }
}

.panel-origin {
  svg {
    fill: green;
  }
}

.panel-flavors {
  svg {
    fill: #805000;
  }
}

.panel-processing, .panel-origin, .panel-flavors {
  display: flex;
  align-items: center;
  line-height: 1;
  svg {
    height: 20px;
    width: 20px;
  }
}

.panel-detail {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  p {
    line-height: 1.1em;
  }
}

.shops-index-div {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 90%;
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.shops-index-item {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding: 10px 10px 10px 10px;
  position: relative;
  max-width: 45%;
  top: 0;
  transition: top ease 0.5s;
  transition: ease-out 0.5s;
  @media only screen and (max-width: 1200px) {
    max-width: 100%;    
  }
  a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
  }
  h4 {
    margin: 5px 0;
  }
  span {
    margin: 2px 0;
    display: inline-block;
  }
}

.shop-panel-image {
  height: 200px;
  width: 45%;
  object-fit: cover;
  border-radius: 5px;
}

