@import 'variables';

.coffee-shop-container {
  margin: auto;
  width: 60%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.coffee-shop {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  height: auto;
  position: relative;
  img, .coffee-section-container {
    object-fit: cover;
    margin: 0 0 0 0;
    width: 100%;
    height: 35%;
    box-shadow: 1px 2px 5px gray;
    position: relative;
  }
}

.coffee-shop-info {
  width: 100%;
  margin: 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
}

.shop-edit {
  justify-content: space-evenly;
  margin-right: 25px;
  font-size: 16px;
  a {
    text-decoration: none;
    color: $primary-dark;
    &:hover {
      color: $primary;
    }
  }
}

.coffee-shop-main-info {
  width: 400px;
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  h3 {
    font-size: 16px;
    line-height: 1.5;
  }
}

.favorite-icon {
  position: absolute;
  z-index: 10;
  right: 8%;
  cursor: pointer;
  a {
    display: block;
    height: 100%;
  }
  img {
    height: 45px;
    width: 45px;
    box-shadow: none;
    @media only screen and (min-width: 850px) {
      height: 50px;
      width: 50px;
    }
  }
  @media only screen and (min-width: 1000px) {
    right: 2%;
  }
}

.coffee-shop-description {
  margin: 0 20px;
  width: 80%;
  margin-top:20px;
  margin-bottom: 20px;
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 1.5;
  }
}

.coffee-shop-details {
  width: 80%;
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.coffee-shop-details h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.coffee-shop-details li {
  font-size: 16px;
  list-style: none;
  margin-bottom: 10px;
}

.coffee-shop-details img {
  width: 30px;
  height: 30px;
  box-shadow: none;
  margin-right: 10px;
}

