/* Color */
$primary:           #B0977F;
$primary-dark:      #584C40;
$primary-light:     #CCB6A0;

$secondary:         #E8C8A7;
$secondary-dark:    #8C7864;
$secondary-light:   #FFE1CA;

$surface:           #F5F5F6;

$foreground:        #58534F;
$foreground-dark:   #d5c4a1;
$foreground-light:  #fbf1c7;

$background:        #E3D7CA;
$background-dark:   #9F978E;
$background-light:  #FAEFE4;

/* Borders */
$border-radius: 6px;

