$header-font: 'Ubuntu', sans-serif;

/* Color */
$primary: #b0977f;
$primary-dark: #584c40;
$primary-light: #ccb6a0;

$secondary: #e8c8a7;
$secondary-dark: #8c7864;
$secondary-light: #ffe1ca;

$surface: #f5f5f6;

$foreground: #58534f;
$foreground-dark: #d5c4a1;
$foreground-light: #fbf1c7;

$background: #e3d7ca;
$background-dark: #9f978e;
$background-light: #faefe4;

/* Borders */
$border-radius: 6px;
