/* Color */
$primary:           #3c2d17;
$primary-dark:      #342610;
$primary-light:     #44341e;

$secondary:         #f8bbd0;
$secondary-dark:    #c48b9f;
$secondary-light:   #ffeeff;

$surface:           #F5F5F6;

$foreground:        #ebdbb2;
$foreground-dark:   #d5c4a1;
$foreground-light:  #fbf1c7;

$background:        #565149;
$background-dark:   #1a1d21;
$background-light:  #FFFFFF;

/* Borders */
$border-radius: 6px;

