@import 'variables';

.splash-main {
  background-image: url('https://roastia.s3.us-east-2.amazonaws.com/daan-evers-tKN1WXrzQ3s-unsplash.jpg');
  height: 600px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.splash-inner {
  width: 600px;
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
  }
}
