@import 'variables';

$background-image: 'https://roastia.s3.us-east-2.amazonaws.com/roastia-home.jpeg';

.app-intro {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px auto;
  width: 80%;
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
    justify-content: center;
    p {
      font-size: 0.9em;
      width: 70%;
      text-align: center;
      line-height: 1.5;
      @media only screen and (min-width: 1201px) and (max-width: 1500px) {
        font-size: 1.1em;
      }
      @media only screen and (min-width: 1501px) {
        font-size: 1.5em;
      }
    }
  };
}

#filter-icon {
  @media only screen and (max-width: 1200px) {
    height: 80px;
  }
  @media only screen and (min-width: 1201px) and (max-width: 1500px) {
    width: 100px;
    height: 100px;
  }
  height: 110px; 
}

.git-icon {
  svg {
    height: 50px;
    width: 50px;
    fill: #7e7e7e;
    cursor: pointer;
    @media only screen and (min-width: 1500px) {
      height: 75px;
      width: 75px;
    }
  }
  svg:hover {
    fill: #545454;
  }
}

.inner-icon {
  @media only screen and (max-width: 1200px) {
    height: 120px;
    margin-bottom: 16px;
  }
  @media only screen and (min-width: 1201px) and (max-width: 1500px) {
    width: 140px;
    height: 140px;
  }
  height: 175px;
  margin-bottom: 25px;
}

.splash-icons {
  @media only screen and (max-width: 1200px) {
    height: 120px;
    width: 120px;
  }
  @media only screen and (min-width: 1201px) and (max-width: 1500px) {
    width: 140px;
    height: 140px;
  }
  width: 175px;
  height: 175px;
}

.splash-footer {
  align-self: flex-end;
  font-size: 13px;
  width: 200px;
  margin: 80px auto 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondary-dark;
  background: $background-light;
  border-radius: $border-radius;
  a {
    color: $secondary-dark;
    text-decoration: none;
  }
  h3 {
    color: $secondary-dark;
    font-weight: 500;
  }
}

.splash-main-container {
  width: 100%;
  height: fit-content;
  position: relative;
}
.splash-backdrop {
  position: absolute;
  background-image: url($background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1930px auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-height: 100%;
  height: 500px;
  width: 100%;
  min-width: 100%;
}
.splash-main {
  height: 500px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.splash-backdrop-blur {
  z-index: 1;
  position: absolute;
  background-image: url($background-image);
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  background-size: 1930px auto;
  height: 200px;
  width: 60%;
  max-width: 75%;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 40px;
}

.splash-inner {
  z-index: 2;
  display: block;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 4px 30px 4px;
  h1 {
    display: block;
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 20px;
  }
}

.about-team {
  display: flex;
  margin: 20px 0;
  align-items: center;
  a {
    margin-right: 10px;
  }
}

.about-team-member {
  display: flex;
  margin-right: 10px;
}

.about-team-member-img {
  width: 50px;
  max-width: 50px;
  min-height: 50px;
  height: 50px;
  border-radius: 100%;
  @media only screen and (min-width: 1500px) {
    width: 75px;
    max-width: 75px;
    height: 75px;
    max-height: 75px;
  }
}

.tooltip-long {
  position: relative;
  display: inline-block;
  .long {
    visibility: hidden;
    width: 120px;
    background-color: $secondary-dark;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -67px; 
  }
  &:hover .long {
    visibility: visible;
  }
}

.tooltip-john {
  position: relative;
  display: inline-block;
  .john {
    visibility: hidden;
    width: 120px;
    background-color: $secondary-dark;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -67px;
  }
  &:hover .john {
    visibility: visible;
  }
}

.tooltip-bee {
  position: relative;
  display: inline-block;
  .bee {
    visibility: hidden;
    width: 120px;
    background-color: $secondary-dark;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -67px;
  }
  &:hover .bee {
    visibility: visible;  
  }
}

.tooltip-long .long::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $secondary-dark transparent;
}

.tooltip-bee .bee::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $secondary-dark transparent;
}

.tooltip-john .john::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $secondary-dark transparent;
}
