@import 'variables';

.login-signup {
  a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: inherit;
    font-weight: 600;
    padding: 10px 15px;
    margin: 5px;
    transition: background 0.4s;
  }
  a:hover {
    background: #eae9e9;
    border: darkgray;
    border-radius: 4px;
    transition: background 0.4s;
  }
}

.logout {
  a {
    text-decoration: none;
    color: black;
    font-family: inherit;
    font-weight: 600;
    padding: 5px 10px;
    margin: 5px;
  }
  a:hover {
    background: #eae9e9;
    border: darkgray;
    border-radius: 4px;
  }
}

.logout {
  button {
    text-decoration: none;
    color: black;
    font-family: inherit;
    font-weight: 600;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  button:hover {
    background: #eae9e9;
    border: darkgray;
    border-radius: 4px;
  }
}

.logout {
  display: flex;
}

.roastia-logo {
  height: 60px;
}

.top-bar-container {
  width: 100%;
  background-color: $background-light;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}
