@import-normalize;
@import "variables.scss";
@import "./main/top_bar/topBar.scss";

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"),
    url("../fonts/Open\ Sans/OpenSans_Regular.woff2") format("woff2"),
    url("../fonts/Open\ Sans/OpenSans_Regular.woff") format("woff");
}

@font-face {
  font-family: "Yanone";
  src: local("Yanone"), local("OpenSans"),
    url("../fonts/Yanone/Yanone.woff2") format("woff2"),
    url("../fonts/Yanone/Yanone.woff") format("woff");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yanone";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Open Sans";
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  padding-right: 15px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ol,
ul {
  list-style: none;
}

button,
input {
  outline: none;
  background-color: none;
  border-width: 0;
  border: none;
}

